@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

:root{
    --FF: 'Epilogue', sans-serif;
    --FS: 18px;
    --WHITE: hsl(0, 0%, 98%);
    --MEDIUMGRAY: hsl(0, 0%, 41%);
    --BLACK: hsl(0, 0%, 8%);
}

*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--WHITE);
    display: flex;
    font-family: var(--FF);
    font-size: var(--FS);
    justify-content: center;
}

#root{
    width: 1300px;
}

.app--container{
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    width: 100%;
}

header{
    align-items: start;
    display: flex;
    justify-content: space-between;
    padding: 30px 20px;
    width: 100%;
}

.icon--menu, .icon--menu--close{
    cursor: pointer;
}

.nav--mobile--hide{
    display: none;
}

.nav--mobile--active{
    align-items: start;
    background-color: var(--WHITE);
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-height: 100vh;
    min-width: 60%;
    padding: 30px 20px;
    position: absolute;
    right: 0;
    top: 0;
}

.icon--menu--close{
    align-self: flex-end;
}

.nav--lists {
    font-size: 1rem;
    list-style: none;
    margin-bottom: 30px;
    width: 100%;
}

.nav--lists > li {
    color: var(--MEDIUMGRAY);
    cursor: pointer;
    margin-top: 20px;
}

.features--lists, .company--lists{
    color: var(--MEDIUMGRAY);
    font-size: 1rem;
    line-height: 2rem;
    list-style: none;
    margin: 20px 50px;
}

.company--lists{
    margin-left: 10px;
}

.features--lists--todo::before,.features--lists--calendar::before, .features--lists--reminders::before,.features--lists--planning::before{
    background-position: center;
    background-repeat: no-repeat;
    content: "";
    height: 30px;
    left: 30px;
    position: absolute;
    width: 20px;
}

.features--lists--todo::before{
       background-image: url('./assets/images/icon-todo.svg');
}

.features--lists--calendar::before{
       background-image: url('./assets/images/icon-calendar.svg');
   }

.features--lists--reminders::before{
      background-image: url('./assets/images/icon-reminders.svg');
    }
    
.features--lists--planning::before{
    background-image: url('./assets/images/icon-planning.svg');
}


.icon--arrow--up, .icon--arrow--down{
    background-position: center;
    background-repeat: no-repeat;
    height: 15px;
    margin-left: 10px;
    position: absolute;
    width: 15px;
}

.icon--arrow--up{
    background-image: url('./assets/images/icon-arrow-up.svg');
}
.icon--arrow--down{
    background-image: url('./assets/images/icon-arrow-down.svg');
}

nav > button {
    background-color: transparent;
    border-radius: 12px;
    border: 1px solid transparent;
    color: var(--MEDIUMGRAY);
    cursor: pointer;
    font-family: inherit;
    font-size: .9rem;
    padding-block: 10px;
    text-align: center;
    width: 100%;
}

.btn--register{
    border: 1px solid var(--BLACK);
}

nav > button:active{
    background-color: var(--BLACK);
    color: var(--WHITE);
}

.main--container{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
}

.main--img--container{
    background-image: url(./assets/images/image-hero-mobile.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 300px;
    width: 100%;
}

.main--text--container{
    color: var(--BLACK);
    padding: 30px 20px;
    text-align: center;
}

.main--text--container > h1{
    font-size: clamp(2.15rem, 5vw, 5rem);
   font-weight: bolder;
}

.text--remotework{
   white-space: nowrap;
}

.main--text--container > p{
    color: var(--MEDIUMGRAY);
    font-size: 1rem;
    padding-block: 20px;
}

.main--text--container > button{
    background-color: var(--BLACK);
    border-radius: 10px;
    border: 1px solid transparent;
    color: var(--WHITE);
    cursor: pointer;
    font-family: inherit;
    font-size: .9rem;
    font-weight: 700;
    padding: 15px 20px;
    width: 150px;
}

.main--client--container{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding-inline: 20px;
    width: 100%;
}

.client--icons{
    width: 70px;
}

.audiophile--icon{
    width: 50px;
}

.attribution{
    color: var(--MEDIUMGRAY);
    font-size: .7rem;
    margin-block: 50px;
}

.attribution > a{
    color: var(--BLACK);
}

@media(min-width: 40em){

    .main--container{
        align-items: flex-end;
        display: flex;
        flex-direction: row;
        gap: 30px;
        height: 600px;
        margin-inline: 20px;
        margin-top: 40px;
    }
    .main--img--container{
        background-image: url('/src/assets/images/image-hero-desktop.png');
        height: 100%;
        order: 1;
        width: 50%;
    }

    .main--text--container{
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-right: 100px;
        padding: 0;
        text-align: left;
        width: 50%;
    }

    .main--text--container > p{
        line-height: 2rem;
    }

    .main--client--container{
        margin-top: 50px;
    }

    .icon--menu{
        display: none;
    }
    
    .icon--menu--close{
        display: none;
    }

    nav > button {
        width: 20%;
    }

    .nav--mobile--hide{
        align-items: center;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .nav--lists{
        display: flex;
        gap: 40px;
        margin: 0;
        padding-left: 40px;
        padding-right: 20px;
    }

    .nav--lists > li {
        margin: 0;
    }

    header{
        align-items: center;
        justify-content: flex-start;
    }

    .features--lists, .company--lists{
        background-color: white;
        border-radius: 15px;
        box-shadow: 2px 2px 5px rgba(0, 0 , 0, .2);
        padding-block: 20px;
        position: absolute;
        top: 50px;
    }

    .features--lists{
        left: 0;
        text-align: center;
        width: 180px;
    }

    .company--lists{
        left: 240px;
        padding: 20px;
    }
  
}