@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

:root{
    --FF: 'Epilogue', sans-serif;
    --FS: 18px;
    --WHITE: hsl(0, 0%, 98%);
    --MEDIUMGRAY: hsl(0, 0%, 41%);
    --BLACK: hsl(0, 0%, 8%);
}

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--FF);
    font-size: var(--FS);
    display: flex;
    justify-content: center;
}

.app--container{
    min-width: 335px;
    position: relative;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 30px 20px;
    align-items: start;
}

.icon--menu, .icon--menu--close{
    cursor: pointer;
}

nav{
    position: absolute;
    top: 0;
    right: 0;
    padding: 30px 20px;
    background-color: var(--WHITE);
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    min-width: 60%;
    min-height: 100vh;
}

.icon--menu--close{
    align-self: flex-end;
}

.nav--lists {
    list-style: none;
    margin-bottom: 30px;
}

.nav--lists > li {
    margin-top: 20px;
    color: var(--MEDIUMGRAY);
}

nav > button {
    font-family: inherit;
    color: var(--MEDIUMGRAY);
    width: 100%;
    text-align: center;
    padding-block: 10px;
    border-radius: 12px;
    border: 1px solid transparent;
    background-color: transparent;
}

.btn--register{
    border: 1px solid var(--BLACK);
}

.main--container > img{
    width: 100%;
}

.main--text--container{
    padding: 30px 20px;
    text-align: center;
    color: var(--BLACK);
}

.main--text--container > h1{
   font-size: 2.15rem;
   font-weight: bolder;
}

.main--text--container > p{
    padding-block: 20px;
    color: var(--MEDIUMGRAY);
    font-size: 1rem;
    line-height: 1.5rem;
}

.main--container > button{
    padding: 15px 20px;
    background-color: var(--BLACK);
    color: var(--WHITE);
    font-weight: 700;
    font-family: inherit;
    border: 1px solid transparent;
    border-radius: 10px;
    font-size: .9rem;
}

.main--client--container{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-inline: 20px;
}

.client--icons{
    width: 70px;
}

.audiophile--icon{
    width: 50px;
}