@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

:root{
    --FF: 'Epilogue', sans-serif;
    --FS: 18px;
    --WHITE: hsl(0, 0%, 98%);
    --MEDIUMGRAY: hsl(0, 0%, 41%);
    --BLACK: hsl(0, 0%, 8%);
}

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--FF);
    font-size: var(--FS);
    display: flex;
    justify-content: center;
}

#root{
    width: 1300px;
}

.app--container{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 30px 20px;
    align-items: start;
    width: 100%;
}

.icon--menu, .icon--menu--close{
    cursor: pointer;
}

nav{
    position: absolute;
    top: 0;
    right: 0;
    padding: 30px 20px;
    background-color: var(--WHITE);
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    min-width: 60%;
    min-height: 100vh;
}

.icon--menu--close{
    align-self: flex-end;
}

.nav--lists {
    list-style: none;
    margin-bottom: 30px;
    width: 100%;
}

.nav--lists > li {
    margin-top: 20px;
    color: var(--MEDIUMGRAY);
}

.nav--features,.nav--company{
    cursor: pointer;
}

.features--lists, .company--lists{
    list-style: none;
    color: var(--MEDIUMGRAY);
    margin: 20px 50px;
    line-height: 2rem;
    font-size: 1rem;
}

.company--lists{
    margin-left: 10px;
}

.features--lists--todo::before{
    content: "";
    width: 20px;
    height: 30px;
    left: 30px;
    position: absolute;
    background-image: url('./assets/images/icon-todo.svg');
    background-repeat: no-repeat;
    background-position: center;
}
.features--lists--calendar::before{
    content: "";
    width: 20px;
    height: 30px;
    left: 30px;
    position: absolute;
    background-image: url('./assets/images/icon-calendar.svg');
    background-repeat: no-repeat;
    background-position: center;
}
.features--lists--reminders::before{
    content: "";
    width: 20px;
    height: 30px;
    left: 30px;
    position: absolute;
    background-image: url('./assets/images/icon-reminders.svg');
    background-repeat: no-repeat;
    background-position: center;
}
.features--lists--planning::before{
    content: "";
    width: 20px;
    height: 30px;
    left: 30px;
    position: absolute;
    background-image: url('./assets/images/icon-planning.svg');
    background-repeat: no-repeat;
    background-position: center;
}
.features--lists--todo::before{
    content: "";
    width: 20px;
    height: 30px;
    left: 30px;
    position: absolute;
    background-image: url('./assets/images/icon-todo.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.icon--arrow--up, .icon--arrow--down{
    margin-left: 10px;
    position: absolute;
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-position: center;
}

.icon--arrow--up{
    background-image: url('./assets/images/icon-arrow-up.svg');
}
.icon--arrow--down{
    background-image: url('./assets/images/icon-arrow-down.svg');
}

nav > button {
    font-family: inherit;
    color: var(--MEDIUMGRAY);
    width: 100%;
    text-align: center;
    padding-block: 10px;
    border-radius: 12px;
    border: 1px solid transparent;
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
}

.btn--register{
    border: 1px solid var(--BLACK);
}

.main--container{
    max-width: 1200px;
    display: flex;
    flex-direction: column;
}

.main--img--container{
    background-image: url(./assets/images/image-hero-mobile.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    min-height: 300px;
}

.main--text--container{
    padding: 30px 20px;
    text-align: center;
    color: var(--BLACK);
}

.main--text--container > h1{
    font-size: clamp(2.15rem, 5vw, 5rem);
   font-weight: bolder;
}

.text--remotework{
   white-space: nowrap;
}

.main--text--container > p{
    padding-block: 20px;
    color: var(--MEDIUMGRAY);
    font-size: 1rem;
}

.main--text--container > button{
    padding: 15px 20px;
    background-color: var(--BLACK);
    color: var(--WHITE);
    font-weight: 700;
    font-family: inherit;
    border: 1px solid transparent;
    border-radius: 10px;
    font-size: .9rem;
    width: 150px;
}

.main--client--container{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-inline: 20px;
}

.client--icons{
    width: 70px;
}

.audiophile--icon{
    width: 50px;
}

@media(min-width: 40em){

    .main--container{
        margin-top: 40px;
        display: flex;
        height: 600px;
        flex-direction: row;
        align-items: flex-end;
        gap: 30px;
        margin-inline: 20px;
    }
    .main--img--container{
        background-image: url('/src/assets/images/image-hero-desktop.png');
        order: 1;
        height: 100%;
        width: 50%;
    }

    .main--text--container{
        padding: 0;
        display: flex;
        flex-direction: column;
        text-align: left;
        gap: 30px;
        width: 50%;
        padding-right: 100px;
    }

    .main--text--container > p{
        line-height: 2rem;
    }

    .main--client--container{
        margin-top: 50px;
    }
}